@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import './vars+mixin/index';

@import './navBar';
@import './homePage';
@import './footer';


body {
    margin: 0;
    font-family: 'PT Mono', monospace;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    margin: 1% 0%;
}

a {
    text-decoration: none;
}