$backgroundPrimary:#031163;
$linksColor:white;
$textColor:white;
$borderRadius: 0.7rem;

//Media query
$smallTablet: 540px;
$regularTablet: 768px;
$biggerTablet: 912px;
$desktopSmall: 1000px;
$middleDesktop: 1250px;
$desktop: 1400px;
$biggerDesktop: 1600px;